*{
    font-family: sans-serif;
    font-size: large;
}

html {
    color: rgb(6, 14, 138);
    background-color: rgb(6, 14, 138);
}

p {
    border: rgb(255, 255, 255) solid 2px;
}

body {
    background-color: #b1b3b9;
    margin: 1em 1em;
    border: 5px solid rgb(129, 212, 19);
    border-radius: 1em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}
header {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: orange solid 5px;
    border-radius: 5em;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: navy;
    color: orange;
}

body h2 {
    margin-left: 65%;
    font-size: 4em;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
/* container hierarchy is dertermined outside in */
.container {
    margin: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 90%;
}

input {
    width: 80%;
}

#topContainer, #middleContainer {
    padding: 1em;
    display: flex;
   
    flex-direction: row;
    
}

/* applies to top and middle containers sub containers */
.container3 {
    padding: .25em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#invoiceIdandDateContainer {
    align-items: flex-end;
    justify-content: space-around;
}

#invoiceIdandDateContainer div{
    display: flex;
    padding: 1em;
}

/* separates the right hand side of the upper section */
.container4 {
    margin: 0.5em;
    width: 30%;
    height: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container4b {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*  */
#invoicePaid {
    display: flex;
    flex-direction: column;
}

#invoicePaid button {
    color: black;
    background-color: red;
}

.container4 input{
    margin-left: 10%;
    width: 85px;
}

/* .container5 is for lower section */
.container5 {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#serviceLables label {
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
    width: 16.66%;
    height: 1.5em;
}

#serviceInfo {
    display: flex;
    flex-wrap: wrap;
}

.serviceInfoSet {
    display: flex;
    flex-wrap: wrap;
}

#serviceInfo div input {
    margin: 0%;
    padding: 0%;
    width: 16.22%;
    height: 1.5em;
}

#totalsBeforeNotes{
    margin-left: auto;
    margin-right: 3%;
}

#totalAmountDueLabel{
    width: 500px;
}

#totalAmountDue{
    width: 300px;
    height: 1.5em;
    border: solid black 3px;
}

/* .container5b div p{
    margin: .25%;
    padding: 0%;
    width: 24%;
} */

/* buttons */

button {
    width: 120px;
    margin: auto;
    margin-top: .5em;
    padding: .25;
    border-radius: .5em .5em;
}

#addServBtn {
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

#deleteServBtn {
    margin-left: 0%;
    margin-right: -2em;
    margin-top: 0em;
    width: 2em;
}

#submitBtn {
    
    background-color: navy;
    color: yellow;
    font-size: larger;
    font-style: italic;
}
