* {
    /**/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

.navbar {
    background-color: #1d2951;
}

.navbar .login-container {
    float: right;
}

.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
}

.navbar .login-container button {
    float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navbar .login-container button:hover {
    background: #ccc;
  }
  
  /* Add responsiveness - On small screens*/
  @media screen and (max-width: 600px) {
    .navbar .login-container {
      float: none;
    }
    .navbar a, .navbar input[type=text], .navbar .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ccc;
    }
  }
  

img {
    background-color: #1d2951;
}

.collapse navbar-collapse .navbar-right input[type=text] {
        float: inline-start;
        padding: 6px 10px;
        border: none;
        margin-top: 8px;
        margin-left: 16px;
        font-size: 17px;
}

.navbar-right button{
    float: inline-start;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 16px;
    background: #ddd;   
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar-right button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .navbar-right {
        float: none;
    }
    .navbar-right a, .navbar-right input[type=text], button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .navbar-right input[type=text] {
        border: 1px solid #ccc;
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d2951;
}

.collapse navbar-collapse ul {
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    float: right;
    font-size: 30px;
    justify-content: left;

}

li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

li a:hover {
    color: #ffc30b;
    transition: 0.4s ease-in;
}

li .active {
    color: #000000;
    background-color: #ffc30b;
}

li .active:hover {
    color: #ffffff;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.personal-info-divider{
    background-color:white; 
    border: 5px solid #1d2951;
    color: black;
    padding: 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  .privacy-security-divider{
    background-color:white; 
    border: 5px solid #1d2951;
    color: black;
    padding: 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  .payment-settings-divider{
    background-color: white; 
    border: 5px solid #1d2951;
    color: black;
    padding: 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  .notifications-divider{
    background-color:white; 
    border: 5px solid #1d2951;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

.divider {
    border-radius: 5px;
    background: white;
    border: 5px solid #ffc30b;
    padding: 5px;
    margin: auto;
    width: 75%;
    position: relative;
    line-height: 200%;
}

.divider:after {
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    border-radius: 5px;
    margin: 10px;
    background: #1d2951;
    z-index: -1;
}

.profile-settings, .name-row {
    border-radius: 5px;
    padding: 35px;
    margin: 15px;
}

#hello img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 150px;
    overflow: hidden;
    border: 3px solid #1d2951;
    border-radius: 50%;
}

#hello {
  text-align: center;
}

.profile-settings input[type=text], input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #1d2951;
    border-radius: 4px;
    box-sizing: border-box;  

}

input[type=submit] {
    width: 20%;
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkgrey;
  }

 