#footer_section {
    display: flex;
    font-family: sans-serif;
    line-height: 1.618em;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

img#logo {
    width: 5%
}