*{
  font-family: sans-serif;
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: large;
}

h1 {
  font-size: 3em;
}

html {
  background-color: #EDE7F6;
  max-width: 100%;
}

table#centerTable {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 15px 15px 15px #999;
}

tbody tr, td {
  border: 2px solid #2E343F;
}

th, td {
  padding: 15px;
  text-align: left;
}

header {
  padding: 2em 1em 0 0;
  margin-top: 1em;
  margin-left: 15%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;

  background: #2E343F;
}

tbody tr:nth-child(0) {
   font-size: 50px;
}

thead {
  background-color: #2E343F;
  color: #ffffff;  
}

tfoot {
  background-color: #2E343F;
}

thead th:first-child {
  border-radius: 15px 0 0 0;
}

thead th:last-child {
  border-radius: 0 15px 0 0;
}

thead th:only-child {
  border-radius: 15px 15px 0 0;
}

tfoot th:first-child {
  border-radius: 0 0 0 15px;
}

tfoot th:last-child {
  border-radius: 0 0 15px 0;
}

tfoot th:only-child {
  border-radius: 0 0 15px 15px;
}

tbody tr:nth-child(even) {
    background: #3a9ac1;
    /* box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; */
}