* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
}

h1 {
    font-size: 3em;
    line-height: 1.618em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.618em;
}

html {
    background-color: #EDE7F6;
}

body {
    display: grid;
    grid-template-columns: [left] 0.4fr [invoice-start] minmax(200px, 1fr) [invoice-stop] 0.4fr [right];
    grid-template-rows: repeat(8, auto) 90px [bottom];
}

.darker {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

#box_shadow {
    grid-column: invoice-start / invoice-stop;
    grid-row: 3 / 8;
    z-index: -1;
    border-radius: 1em;
    box-shadow: 0 0px 10px 2px rgba(148, 142, 142, 0.31);
}

/************************** NavBar ****************************/

#nav_section {
    grid-column: left / right;
    grid-row: 1 / 2;
    margin-bottom: 1em;
}

/************************** Invoice Actions ****************************/

#invoice_actions {
    grid-column: invoice-start / invoice-stop;
    grid-row: 2 / 3;
    padding: 1.5rem;
}

#invoice_actions {
    display: flex;
    justify-content: space-between;
}

#invoice_actions>button {
    color: #4d6575;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #b2c2cd;
    padding: 8px 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 1em;
}

#invoice_actions>button:hover {
    color: #4d6575;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #2d6f9b;
    padding: 8px 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 1em;
}

#paid_stamp {
    display: none;
    grid-column: invoice-start / invoice-stop;
    grid-row: 3 / 4;
    padding: 2rem 2rem 0 60%;
    z-index: 1;
}

#sent_stamp {
    display: none;
    grid-column: invoice-start / invoice-stop;
    grid-row: 3 / 4;
    padding: 2rem 2rem 0 60%;
    z-index: 1;
}

/************************** Contractor Info ****************************/

#contractor_info {
    grid-column: invoice-start / invoice-stop;
    grid-row: 3 / 4;
    background: #ffffff;
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    line-height: 1.2em;
}

hr {
    margin-top: 1rem;
}

/************************** Invoice Info ****************************/

#invoice_info {
    grid-column: invoice-start / invoice-stop;
    grid-row: 4 / 5;
    background: #ffffff;
    padding: 2rem;
}

#invoice_info div {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

#invoice_info p {
    padding-right: 1rem;
}

.amount_due {
    background-color: #b2c2cd;
    padding-right: 0;
    padding-left: 1rem;
}

#invoice_amount_due {
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/************************** ServiceItem Info ****************************/

#serviceItem_info {
    grid-column: invoice-start / invoice-stop;
    grid-row: 5 / 6;
    background: #c3d7df;
    justify-items: start;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody tr, td {
    border: 2px solid rgb(121, 122, 123);
}

th {
    padding: 15px;
    text-align: center;
}

td {
    padding: 15px;
}

tr #service_date {
    text-align: center;
}

tr #service_price {
    text-align: right;
    padding-right: 3rem;
}

.twenty_five {
    width: 25%;
}

#serviceItem_info .container {
    display: flex;
    line-height: 1.6em;
    padding-top: .5rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    justify-content: flex-end;
}

#total_amount_due {
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.underline {
    text-decoration-line: underline;
}

/************************** Notes ****************************/

#notes {
    grid-column: invoice-start / invoice-stop;
    grid-row: 6 / 7;
    background: #ffffff;
    padding: 2rem 1.5rem 14rem 1.5rem;
}

#notes {
    display: flex;
    flex-direction: column;
}

/************************** Invoice Footer ****************************/

#invoice_footer {
    grid-column: invoice-start / invoice-stop;
    grid-row: 7 / 8;
    background: #ffffff;
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#invoice_footer {
    display: flex;
    justify-content: center;
    font-style: italic;
}

/************************** Footer Section ****************************/

#footer_section {
    grid-column: invoice-start / invoice-stop;
    grid-row: 9 / span 1;
}

/************************** CSS For Printing ****************************/

@media print {
    body {
        display: grid;
        grid-template-columns: 0.1fr [invoice-start] minmax(200px, 8fr) [invoice-stop] 0.1fr;
    }
    #invoice_actions, #box_shadow, #nav_section, #footer_section {
        display: none;
    }
    #contractor_info, #invoice_info, #serviceItem_info, #total_amount_due, #notes, #invoice_footer * {
        visibility: visible;
    }
    #notes {
        padding: 1rem 1.5rem 5rem 1.5rem;
    }
    #invoice_footer {
        padding: 0.5rem;
    }
}