<!-- IMPORTANT: in testing it may be required to change src paths to include static
folders and other such directories. Make sure to trouble shoot these  when running
program from eclipse before pushing for a merge!!!!! -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo Invoice</title>
    <!-- Uncomment below when using VSCODE GoLive -->
    <!-- <link rel="stylesheet" href="../static/css/invoice-creation-view.css"> -->
    <!-- Uncomment below when using Eclipse -->
    <link rel="stylesheet" href="/css/invoice-creation-view.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>

<body>

    <header id="header_section" text="ProJo">
        <h1>Create Invoice</h1>
    </header>

    <form id="form_section" action="invoice">

        <div class="container" id="contractorInfo">
            <h1 id="invoiceTitle">INVOICE</h1>
            <p id="contractor_id" hidden th:text="${contractor.id}"></p>
            <!-- <p id="contractorName" th:text="${contractor.firstName}"></p>
            <p id="contractorAddress" th:text="${contractor.addressLineOne}"></p>
            <p id="contractorAddressLineTwo" th:text="${contractor.addressLineTwo}"></p>
            <p id="contractorPhone" th:text="${contractor.phoneNumber}"></p> -->

            <p class="darker" th:text="${contractor.firstName} + ' ' + ${contractor.lastName}"></p>
            <p th:text="${contractor.addressLineOne}"></p>
            <p th:text="${contractor.addressLineTwo}"></p>
            <p th:text="${contractor.city} + ', ' + ${contractor.state} + ' ' + ${contractor.zip}"></p>
            <p th:text="${contractor.country}"></p>
            <p>&nbsp;</p>
            <p th:text="${contractor.phoneNumber}"></p>
            <p th:text="${contractor.email}"></p>
            <hr>
        </div>

        <div class="container" id="invoiceDate">
            <label for="invoiceDate">Invoice Date</label>
            <input type="text" id="invoiceDate" placeholder="YYYY-MM-DD">
        </div>

        <button type="button" onclick="addService('serviceInfo')" class="servBtnSet" id="addServBtn">Add New
            Service</button>

        <div class="container2" id="bottomContainer">
            <div class="container5" id="serviceLables">

                <label for="serviceDescription">Service</label>
                <label for="dateOfService">Date</label>
                <label for="amountDue">Amount Due</label>
            </div>
            <!-- this is the section that should be added with a function tied to the addServBtn -->
            <div class="container5" id="serviceInfo">
                <div class="serviceInfoSet" id="1">
                    <input type="text" class="info" id="serviceDescription">
                    <input type="date" class="info" id="dateOfService">
                    <input type="number" class="info" oninput="totalAmountDue()" id="amountDue" name="amountDue">
                    <button type="button" onclick="deleteServ(1)" id="deleteServBtn">X</button>
                </div>
            </div>

            <div class="container4" id="totalsBeforeNotes">
                <label for="totalAmountDue" id="totalAmountDueLabel">Total Amount Due</label>
                <p type="number" id="totalAmountDue" value="calculate"></p>
            </div>

        </div>

        <div id="serviceNotesContainer">
            <label for="serviceNotes">Notes</label>
            <textarea type="text" id="serviceNotes"></textarea>
        </div>
    </form>


    <button type="submit" id="submitBtn" onclick="submitInvoiceButton()">SUBMIT</button>

    <!------------------------------------ NAV ------------------------------------------------->
    <nav id="nav_section" class="navbar">
        <img src="/images/projo.png" alt="ProJo - Login" class="logo" id="navbar_logo">
        <a th:href="@{/contractor/search-invoice-list/{contractorId}(contractorId = ${contractor.id})}"><i
                class="fa fa-fw fa-search"></i>My Invoices</a>
        <a class="active" th:href="@{/contractor/create-new-invoice/{contractorId}(contractorId = ${contractor.id})}"><i
                class="fa fa-fw fa-envelope"></i>Create Invoice</a>
        <a th:href="@{http://localhost:8080/contractor/update-profile/{contractorId}(contractorId = ${contractor.id})}"><i
                class="fa fa-fw fa-user"></i>User Profile</a>
    </nav>

    <!------------------------------------ Footer ------------------------------------------------->
    <footer id="footer_section">
        <span>Powered by</span>
        <img src="/images/projo.png" id="logo" alt="">
    </footer>



    <!-- Uncomment below when using Eclipse -->
    <script src="/js/invoice-creation-view.js"></script>
    <script src="/js/invoice-json.js"></script>
    <script src="/js/components/app.js"></script>
    <script src="/js/api/api-actions.js"></script>

    <!-- Uncomment below when using VSCODE GoLive -->
    <!-- <script src="../static/js/invoice-creation-view.js"></script>
    <script src="../static/js/invoice-json.js"></script>
    <script src="../static/js/components/app.js"></script>
    <script src="../static/js/api/api-actions.js"></script> -->
</body>

</html>