<!-- IMPORTANT: in testing it may be required to change src paths to include static
folders and other such directories. Make sure to trouble shoot these  when running
program from eclipse before pushing for a merge!!!!! -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo Invoice</title>
    <!-- Uncomment below when using VSCODE GoLive -->
    <!-- <link rel="stylesheet" href="../static/css/invoice-creation-view.css"> -->
    <!-- Uncomment below when using Eclipse -->
    <link rel="stylesheet" href="/css/invoice-creation-view.css">

</head>

<body>

    <header text="ProJo">
        <!-- Uncomment below when using VSCODE GoLive -->
        <!-- <img src="../static/images/projo.png" alt="ProJo"> -->
        <!-- Uncomment below when using Eclipse -->
        <img src="/images/projo.png" alt="ProJo">
    </header>
    <input type="text" id="contractor_id" hidden th:value="${contractor.id}">
    <h2 id="invoiceTitle">INVOICE</h2>

    <form action="invoice">
        <div class="container">
            <div class="container2" name="" id="topContainer">
                <div class="container3" name="from" id="contractorInfo">
                    <label for="contractorName">Contractor</label>
                    <input type="text" id="contractorName" th:value="${contractor.firstName}">
                    <label for="contractorAddress">Address</label>
                    <input type="text" id="contractorAddress" th:value="${contractor.addressLineOne}">
                    <input type="text" id="contractorAddressLineTwo" th:value="${contractor.addressLineTwo}">
                    <label for="contractorPhone">Phone</label>
                    <input type="text" name="" id="contractorPhone" th:value="${contractor.phoneNumber}">
                </div>
                <div class="container3" id="invoiceIdandDateContainer">
                    <div class="container4">
                        <label for="invoiceNumber">Invoice Number</label>
                        <input type="text" id="invoiceNumber">
                    </div>
                    <div class="container4">
                        <label for="invoiceDate">Invoice Date</label>
                        <input type="text" id="invoiceDate" placeholder="2020-4-22">
                    </div>
                </div>
            </div>
            <div class="container2" name="" id="middleContainer">
                <div class="container3" id="invoiceIdandDateContainer">
                    <div class="container4" id="invoiceTermsContainer">
                    </div>
                </div>
            </div>
        </div>

        <button type="button" onclick="addService('serviceInfo')" class="servBtnSet" id="addServBtn">Add New
            Service</button>

        <div class="container2" id="bottomContainer">
            <div class="container5" id="serviceLables">

                <label for="serviceDescription">Service</label>
                <label for="dateOfService">Date</label>
                <label for="amountDue">Amount Due</label>
            </div>
            <!-- this is the section that should be added with a function tied to the addServBtn -->
            <div class="container5" id="serviceInfo">
                <div class="serviceInfoSet" id="1">
                    <input type="text" class="info" id="serviceDescription">
                    <input type="date" class="info" id="dateOfService">
                    <input type="number" class="info" oninput="totalAmountDue()" id="amountDue" name="amountDue">
                    <button type="button" onclick="deleteServ(1)" id="deleteServBtn">X</button>
                </div>
            </div>

            <div class="container4" id="totalsBeforeNotes">
                <label for="totalAmountDue" id="totalAmountDueLabel">Total Amount Due</label>
                <p type="number" id="totalAmountDue" value="calculate"></p>
            </div>

        </div>

        <div id="serviceNotesContainer">
            <label for="serviceNotes">Notes</label>
            <textarea type="text" id="serviceNotes"></textarea>
        </div>
    </form>


    <button type="submit" id="submitBtn" onclick="submitInvoiceButton()">SUBMIT</button>

    <!-- Uncomment below when using Eclipse -->
    <script src="/js/invoice-creation-view.js"></script>
    <script src="/js/invoice-json.js"></script>
    <script src="/js/components/app.js"></script>
    <script src="/js/api/api-actions.js"></script>

    <!-- Uncomment below when using VSCODE GoLive -->
    <!-- <script src="../static/js/invoice-creation-view.js"></script>
    <script src="../static/js/invoice-json.js"></script>
    <script src="../static/js/components/app.js"></script>
    <script src="../static/js/api/api-actions.js"></script> -->
</body>

</html>