<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo Invoice</title>
    <!-- when moved the href for stylesheets and jsript will have to be updated -->
    <link rel="stylesheet" href="../static/invoice-creation-view.css">
    <script src="../static/invoice-creation-view.js"></script>

</head>

<body>

    <header text="Pro">ProJo</header>
    <h2 id="invoiceTitle">INVOICE</h2>

    <form action="invoice">
        <div class="container">
            <div class="container2" name="" id="topContainer">
                <div class="container3" name="from" id="contractorInfo">
                    <label for="contractorName">Contractor</label>
                    <input type="text" id="contractorName">
                    <label for="contractorAddress">Address</label>
                    <input type="text" id="contractorAddress">
                    <label for="contractorPhone">Phone</label>
                    <input type="text" name="" id="contractorPhone">
                </div>
                <div class="container3" id="invoiceIdandDateContainer">
                    <div class="container4">
                        <label for="invoiceNumber">Invoice Number</label>
                        <input type="text" id="invoiceNumber">
                    </div>
                    <div class="container4">
                        <label for="invoiceDate">Invoice Date</label>
                        <input type="text" id="invoiceDate">
                    </div>
                </div>
            </div>
            <div class="container2" name="" id="middleContainer">
                <div class="container3" name="from" id="agencyInfo">
                    <label for="agencyName">Agency</label>
                    <input type="text" id="agencyName">
                    <label for="agencyAddress">Address</label>
                    <input type="text" id="agencyAddress">
                    <label for="agencyPhone">Phone</label>
                    <input type="text" name="" id="agencyPhone">
                </div>
                <div class="container3" id="invoiceIdandDateContainer">
                    <div class="container4" id="invoiceTermsContainer">
                        <label for="invoiceTerm">Terms</label>
                        <input type="text" id="invoiceTerm">
                    </div>
                </div>
            </div>
        </div>

        <button type="button" onclick="addService('serviceInfo')" class="servBtnSet" id="addServBtn">Add New
            Service</button>

        <div class="container" id="bottomContainer">
            <div class="container5" id="serviceLables">
                <label for="clientName">Client</label>
                <label for="serviceName">Service</label>
                <label for="serviceDate">Date</label>
                <label for="serviceTime">Hours</label>
                <label for="hourlyRate">Hourly Rate</label>
                <label for="amountDue">Amount Due</label>
            </div>
            <!-- this is the section that should be added with a function tied to the addServBtn -->
            <div class="container5" id="serviceInfo">
                <div class="serviceInfoSet" id="">
                    <input type="text" id="clientName">
                    <input type="text" id="serviceName">
                    <input type="date" id="serviceDate">
                    <input type="number" id="serviceTime">
                    <input type="number" id="hourlyRate">
                    <input type="number" id="amountDue">
                    <button type="button" onclick="deleteServ()" id="deleteServBtn">X</button>
                </div>
            </div>

            <div class="container4" id="totalsBeforeNotes">
                <label for="totalAmountDue" id="totalAmountDueLabel">Total Amount Due</label>
                <p id="totalAmountDue">0.0</p>
            </div>

            <label for="serviceNotes">Notes</label>
            <textarea type="text" id="serviceNotes"></textarea>
        </div>
    </form>


    <button type="submit" id="submitBtn">SUBMIT</button>

</body>

</html>