<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/profile-styles.css">
    <link rel="stylesheet" href="/src/main/resources/static/scss/content-area.css">
    <script src="../static/js/profile-script.js"></script>
</head>

<body>
    <header class="projo-header">
        <nav>
            <a href="#">
                <img class="logo" src="../static/images/projo.png" alt="projo logo">
            </a>
            <button class="toggle-menu" aria-expanded="false" aria-label="open menu">
                <svg width="20" height="20" aria-hidden="true">
                    <use xlink:href="#down"></use>
                </svg>
            </button>
            <ul class="user-menu">
                <li class="menu-name">
                    <h3>User Settings</h3>
                </li>
                <li>
                    <button onclick="document.getElementById('id01').style.display='block'"
                        class="w3-button w3-green w3-large">
                        <a href="#">
                            <svg>
                                <use xlink:href="#personal"></use>
                            </svg>
                            <span><i class="fas fa-user-circle"></i>Personal Info</span>
                        </a></button>

                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-annimate-zoom" style="max-width: 600px;"></div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <svg>
                            <use xlink:href="#privacy"></use>
                        </svg>
                        <span><i class="fas fa-lock"></i>Privacy & Security</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg>
                            <use xlink:href="#payment"></use>
                        </svg>
                        <span><i class="fas fa-landmark"></i>Payment Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg>
                            <use xlink:href="#notifications"></use>
                        </svg>
                        <span><i class="fas fa-bell"></i>Notifications</span>
                    </a>
                </li>
                <li>
                    <button class="collapse-btn" aria-expanded="true" aria-label="collapse-menu">
                        <svg aria-hidden="true">
                            <use xlink:href="#collapse"></use>
                        </svg>
                        <span>Collapse</span>
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    <section class="content-area">
        <section class="search-field-and-user">
            <form class="search-field">
                <i class="fas fa-search"></i>
                <input type="search" placeholder="Search.....">
                <button type="submit" aria-label="submit form">
                    <svg aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
            <div class="user-field">
                <a href="" class="home">Home</a>
                <span class="greeting">Hello Projo</span>
                <div class="notifications">
                    <span class="badge">2</span>
                    <svg>
                        <use xlink:href="#user"></use>
                    </svg>
                </div>
            </div>
        </section>

        <section class="content-grid">
            <article>
                <h1>Dashboard</h1>
                <p>Welcome to ProJo</p>
                <img
                    src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTczMzk1MjU1MV5BMl5BanBnXkFtZTcwNDk2MzAyMg@@._V1_UY256_CR2,0,172,256_AL_.jpg">
                <span class="user-name">John Patrick</span>
                <span class="user-title">Agency</span>
            </article>
            <article>
                <h6>Schedule</h6>
                <span class="date">
                    Apr 5, 2020
                </span>
                <div class="col-md-2">
                    <span class="job-type">Tutor</span>
                </div>
            </article>
            <article>
                <span class="client">Timmy Turner</span>
                <span class="client">Math</span>
                <span class="time">3:30 pm</span>
            </article>
            <article>
                <table>
                    <thead>
                        <tr>
                            Client
                        </tr>
                        <tr>
                            Job
                        </tr>
                        <tr>
                            End of Term
                        </tr>
                        <tr>
                            Location
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Timmy Turner</td>
                            <td>Math: Geometry</td>
                            <td>April 30, 2020</td>
                            <td>Mayfield Heights</td>
                        </tr>
                    </tbody>
                </table>
            </article>

        </section>
    </section>

    <footer>
        <small>&Copy; TeamProJo 2020</small>
    </footer>
</body>

</html>