<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo Invoice</title>

    <!-- Comment out the second link for eclipse mapping 
         Comment out the first link for VS Code Go Live mapping -->
    <link rel="stylesheet" href="/css/single-invoice.css">
    <!-- <link rel="stylesheet" href="../static/css/single-invoice.css"> -->
</head>

<body>

    <section id="contractor_info">
        <h1>INVOICE</h1>
        <p th:text="${contractor.firstName} + ' ' + ${contractor.lastName}">Something</p>
        <p th:text="${contractor.addressLineOne}"></p>
        <p th:text="${contractor.addressLineTwo}"></p>
        <p th:text="${contractor.city} + ', ' + ${contractor.state} + ' ' + ${contractor.zip}"></p>
        <p th:text="${contractor.country}"></p>
        <p th:text="${contractor.phoneNumber}"></p>
        <p th:text="${contractor.email}"></p>
    </section>

    <section id="invoice_info">
        <p>Invoice Number:</p>
        <p th:text="${invoice.invoiceNumber}"></p>
        <p>Invoice Date:</p>
        <p th:text="${invoice.dateOfInvoice}"></p>
        <p>Amount Due (USD):</p>
        <p th:text="${invoice.TotalAmountDueAsCurrencyString}"></p>
    </section>

    <section id="serviceItem_info">
        <table id="service_item_table">
            <thead>
                <tr>&nbsp;</tr>
                <tr>
                    <th>Service</th>
                    <th>Date of Service</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="serviceItem : ${invoice.serviceItems}">
                    <td th:text="${serviceItem.serviceDescription}"></td>
                    <td th:text="${serviceItem.dateOfService}"></td>
                    <td th:text="${serviceItem.amountDue}"></td>
                </tr>
            </tbody>
        </table>
        <p>Amount Due (USD):</p>
        <p th:text="${invoice.TotalAmountDueAsCurrencyString}"></p>
    </section>

    <section id="notes">
        <p>Notes</p>
        <p th:text="${invoice.invoiceNote}"></p>
    </section>

    <section id="invoice_footer">
        <p>Thank you for your business!</p>
    </section>

    <section id="invoicePaid">
        <button type="button" onclick="payInvoice('invoicePaid')" id="payBtn">Paid</button>
    </section>

    <!-- Comment out the second link for eclipse mapping 
         Comment out the first link for VS Code Go Live mapping -->
    <script src="/js/invoice-creation-view.js"></script>
    <!-- <script src="../js/invoice-creation-view.js"></script> -->
</body>

</html>