<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo Invoice</title>

    <!-- Comment out the second link for eclipse mapping 
         Comment out the first link for VS Code Go Live mapping -->
    <link rel="stylesheet" href="/css/single-invoice.css">
    <!-- <link rel="stylesheet" href="../static/css/single-invoice.css"> -->
</head>

<body>
    <section id="paid_stamp">
        <img src="/images/paid_stamp.png" alt="">
    </section>
    <section id="box_shadow"></section>
    <section id="invoice_actions">
        <button onclick="printInvoice()" id="printBtn">Print</button>
        <button onclick="markAsPaid('true')" id="payBtn">Mark as Paid</button>
    </section>

    <section id="contractor_info">
        <h1>INVOICE</h1>
        <p class="darker" th:text="${contractor.firstName} + ' ' + ${contractor.lastName}"></p>
        <p th:text="${contractor.addressLineOne}"></p>
        <p th:text="${contractor.addressLineTwo}"></p>
        <p th:text="${contractor.city} + ', ' + ${contractor.state} + ' ' + ${contractor.zip}"></p>
        <p th:text="${contractor.country}"></p>
        <p>&nbsp;</p>
        <p th:text="${contractor.phoneNumber}"></p>
        <p th:text="${contractor.email}"></p>
        <hr>
    </section>

    <section id="invoice_info">
        <div class="container">
            <p class="darker">Invoice Number: </p>
            <p th:text="${invoice.invoiceNumber}"></p>
        </div>
        <div class="container">
            <p class="darker">Invoice Date: </p>
            <p th:text="${invoice.dateOfInvoice}"></p>
        </div>
        <div class="container">
            <p class="darker amount_due" id="invoice_amount_due">Amount Due (USD): </p>
            <p class="amount_due" th:text="${invoice.TotalAmountDueAsCurrencyString}"></p>
        </div>
    </section>

    <section id="serviceItem_info">
        <table id="service_item_table">
            <thead>
                <tr>&nbsp;</tr>
                <tr>
                    <th class="fifty">Products / Services</th>
                    <th class="twenty_five">Date of Service</th>
                    <th class="twenty_five">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="serviceItem : ${invoice.serviceItems}">
                    <td class="fifty" th:text="${serviceItem.serviceDescription}"></td>
                    <td class="twenty_five" id="service_date" th:text="${serviceItem.dateOfService}"></td>
                    <td class="twenty_five" id="service_price" th:text="${serviceItem.amountDue}"></td>
                </tr>
            </tbody>
        </table>

        <div class="container">
            <p class="amount_due darker" id="total_amount_due">Amount Due (USD):</p>
            <p class="amount_due darker underline" th:text="${invoice.TotalAmountDueAsCurrencyString}"></p>
        </div>
    </section>

    <section id="notes">
        <h2>Notes</h2>
        <p th:text="${invoice.invoiceNote}"></p>
    </section>

    <section id="invoice_footer">
        <p>Thank you for your business!</p>
    </section>
</body>

<!-- Comment out the second link for eclipse mapping 
         Comment out the first link for VS Code Go Live mapping -->
<script src="/js/single-invoice.js"></script>
<!-- <script src="../js/invoice-creation-view.js"></script> -->

</html>