<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProJo Invoice</title>

    <!-- Comment out the second link for eclipse mapping 
         Comment out the first link for VS Code Go Live mapping -->
    <link rel="stylesheet" href="/css/single-invoice.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- <link rel="stylesheet" href="../static/css/single-invoice.css"> -->
</head>

<body>
    <section id="paid_stamp">
        <img src="/images/paid_stamp.png" alt="">
    </section>
    <section id="sent_stamp">
        <img src="/images/sent_stamp.png" alt="">
    </section>
    <!-- The box shadow is used behind the layout to create the box shadow effect -->
    <section id="box_shadow"></section>
    <section id="invoice_actions">
        <!-- TODO: Needs code review: I think adding event listeners is
        a better way to handle the "separation of responsibilities" -->
        <button onclick="printInvoice()" id="printBtn">Print</button>
        <button onclick="markAsSent('true')" id="sentBtn">Mark as Sent</button>
        <button onclick="markAsPaid('true')" id="payBtn">Mark as Paid</button>
    </section>

    <section id="contractor_info">
        <h1>INVOICE</h1>
        <p class="darker" th:text="${contractor.firstName} + ' ' + ${contractor.lastName}"></p>
        <p th:text="${contractor.addressLineOne}"></p>
        <p th:text="${contractor.addressLineTwo}"></p>
        <p th:text="${contractor.city} + ', ' + ${contractor.state} + ' ' + ${contractor.zip}"></p>
        <p th:text="${contractor.country}"></p>
        <p>&nbsp;</p>
        <p th:text="${contractor.phoneNumber}"></p>
        <p th:text="${contractor.email}"></p>
        <hr>
    </section>

    <section id="invoice_info">
        <input id="invoice_id" hidden th:value="${invoice.id}">
        <input id="is_paid" hidden th:value="${invoice.isPaid}">
        <input id="is_sent" hidden th:value="${invoice.isSent}">
        <div class="container">
            <p class="darker">Invoice Number: </p>
            <p th:text="${invoice.invoiceNumber}"></p>
        </div>
        <div class="container">
            <p class="darker">Invoice Date: </p>
            <p th:text="${invoice.dateOfInvoice}"></p>
        </div>
        <div class="container">
            <p class="darker amount_due" id="invoice_amount_due">Amount Due (USD): </p>
            <p class="amount_due" th:text="${invoice.TotalAmountDueAsCurrencyString}"></p>
        </div>
    </section>

    <section id="serviceItem_info">
        <table id="service_item_table">
            <thead>
                <tr>&nbsp;</tr>
                <tr>
                    <th class="fifty">Products / Services</th>
                    <th class="twenty_five">Date of Service</th>
                    <th class="twenty_five">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="serviceItem : ${invoice.serviceItems}">
                    <td class="fifty" th:text="${serviceItem.serviceDescription}"></td>
                    <td class="twenty_five" id="service_date" th:text="${serviceItem.dateOfService}"></td>
                    <td class="twenty_five" id="service_price" th:text="${serviceItem.AmountDueAsCurrencyString}"></td>
                </tr>
            </tbody>
        </table>

        <div class="container">
            <p class="amount_due darker" id="total_amount_due">Amount Due (USD):</p>
            <p class="amount_due darker underline" th:text="${invoice.TotalAmountDueAsCurrencyString}"></p>
        </div>
    </section>

    <section id="notes">
        <h2>Notes</h2>
        <p th:text="${invoice.invoiceNote}"></p>
    </section>

    <section id="invoice_footer">
        <p>Thank you for your business!</p>
    </section>

    <!------------------------------------ NAV ------------------------------------------------->
    <nav id="nav_section" class="navbar">
        <img src="/images/projo.png" alt="ProJo - Login" class="logo" id="navbar_logo">
        <a class="active"
            th:href="@{/contractor/search-invoice-list/{contractorId}(contractorId = ${contractor.id})}"><i
                class="fa fa-fw fa-search"></i>My Invoices</a>
        <a th:href="@{/contractor/create-new-invoice/{contractorId}(contractorId = ${contractor.id})}"><i
                class="fa fa-fw fa-envelope"></i>Create Invoice</a>
        <a th:href="@{http://localhost:8080/contractor/update-profile/{contractorId}(contractorId = ${contractor.id})}"><i
                class="fa fa-fw fa-user"></i>User Profile</a>
    </nav>

    <!------------------------------------ Footer ------------------------------------------------->
    <footer id="footer_section">
        <span>Powered by</span>
        <img src="/images/projo.png" id="logo" alt="">
    </footer>



</body>

<!-- Uncomment below when using Eclipse -->
<script src="/js/single-invoice.js"></script>
<script src="/js/api/api-actions.js"></script>

<!-- Uncomment below when using VSCODE GoLive -->
<!-- <script src="../js/invoice-creation-view.js"></script> -->
<!-- <script src="../static/js/api/api-actions.js"></script> -->

</html>